<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--用一个总的文件囊括这个几个配置文件，单元测试的时候就少些很多这些配置文件。-->
    <context:annotation-config />
    <!-- 注解扫描包 -->
    <context:component-scan base-package="com.springLayUI.*"/>
    <import resource="spring-mvc.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-kaptcha.xml"/>
</beans>